.footer-5 {
  background-color: #fafafa;
  border-top: 1px solid #ddd;
  padding: 16px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  font-size: 14px;
  color: #333;
}

.footer-5 i {
  margin-right: 6px;
}
