<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Footer-05-Component</title>

  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
  />

  <link rel="stylesheet" href="css/footer-05.css" />
</head>
<body>

<footer class="footer-5">
  <span>
    <i class="fa-regular fa-copyright"></i>
    2025 Akash
  </span>

  <span>
    <i class="fa-solid fa-shield-halved"></i> Privacy
    &nbsp;
    <i class="fa-solid fa-file-contract"></i> Terms
  </span>
</footer>

</body>
</html>
