<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Footer-04-Component</title>

  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
  />

  <link rel="stylesheet" href="css/footer-04.css" />
</head>
<body>

<footer class="footer-4">
  <h3>
    <i class="fa-solid fa-rocket"></i>
    Let’s build something great
  </h3>

  <div class="footer-4-icons">
    <i class="fa-brands fa-instagram"></i>
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-github"></i>
  </div>

  <p>© 2025 Akash</p>
</footer>

</body>
</html>
