<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hero-02-Template</title>
    <link rel="stylesheet" href="css/hero-02.css">
</head>

<body>
    <section class="hero-2">
        <div class="hero-2-container">

            <span class="hero-2-badge">Reusable Components</span>

            <h1 class="hero-2-title">
                Stop Writing Same Code <br />
                Build Once. Use Everywhere.
            </h1>

            <p class="hero-2-text">
                Create your personal frontend component system using
                clean HTML and CSS.
            </p>

            <div class="hero-2-actions">
                <button class="hero-2-btn hero-2-btn-primary">
                    Get Started
                </button>
                <button class="hero-2-btn hero-2-btn-outline">
                    View Library
                </button>
            </div>

        </div>
    </section>

</body>

</html>