.search-4 {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #111;
  padding: 12px 16px;
  color: #fff;
  width: 260px;
}
.search-4 input {
  background: none;
  border: none;
  outline: none;
  color: #fff;
}
